html,
body {
  height: 100%;
  background-color: var(--bs-body-bg);
}

body {
  display: flex;
  align-items: center;
  background-color: var(--bs-body-bg);
}

.form-register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-register .checkbox {
  font-weight: 400;
}

.form-register .form-floating:focus-within {
  z-index: 2;
}

.form-register input{
    background-color: var(--bs-body-bg) !important;
}

.form-register div.form-floating:nth-of-type(1) input{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register div.form-floating:nth-last-of-type(1) input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-register div.form-floating:not(:nth-of-type(1)):not(:nth-last-of-type(1)) input{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: -1px;
}